


        body{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        #content {
            background-color: blanchedalmond;
            font-family: 'Times New Roman', Times, serif;
            color: crimson;
            padding: 20px;
        }

        #content p:nth-child(2n+1){
            font-size: medium;
            color:darkblue;
        }

        #links {
            background-color:hotpink;
            padding: 20px;
            margin : 20px;
            text-align: justify;
            color: black;
        }

        ul > li {
    list-style: none;
    background-color: tomato;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: #eeeeee;
    width: 20%;
    display: inline-block;
}

ol > li {
    list-style: none;
    background-color:honeydew;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color:darkblue;
    width: 20%;
    display: inline-block;
}

img {
    float: none;
}